<%= section_item_tag(section) do %>
  <span class="btn btn--link arrangement__handle txt-small">
    <%= image_tag "handle.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Move <%= section.title %></span>
  </span>

  <%= link_to sectionable_path(section), class: "toc__thumbnail", data: { turbo_frame: "_top" } do %>
    <%= section.section.body if section.section? %>
    <%= section.sectionable.body.to_html if section.page? %>
    <%= image_tag section.sectionable.image.variant(:large) if section.picture&.image&.attached? %>
  <% end %>

  <div class="toc__title flex align-center min-width">
    <%= form_with model: [ section.report, section ], url: sectionable_path(section), class: "flex align-center max-width min-width", id: dom_id(section, "form") do |form| %>
      <%= form.text_field :title, class: "input full-width", autofocus: true, autocomplete: "off", data: { controller: "autoselect" } %>
    <% end %>

    <span class="flex align-center gap-half">
      <button type="submit" class="btn txt-small btn--positive" form="<%= dom_id(section, "form") %>">
        <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Save</span>
      </button>

      <%= button_to sectionable_path(section), method: :delete, class: "btn btn--negative txt-small" do %>
        <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Delete this page</span>
      <% end %>
    </span>
  </div>

  <small class="toc__wordcount">
    <% if section.page? %>
      <%= word_count(section.sectionable.body.content) %>
    <% end %>
  </small>

  <%= yield if block_given? %>
<% end %>
