<% content_for :header do %>
  <%= section_nav_tag(section) do %>
    <%= render "sections/sidebar_toggle" %>

    <%= link_to_previous_sectionable(section) %>

    <div class="breadcrumbs">
      <%= render "reports/index_link" %>
      <span class="flex-item-no-shrink">▸</span>
      <%= link_to report.title, report_slug_path(report) %>
      <span class="flex-item-no-shrink">▸</span>
      <strong><%= section.sectionable.title %></strong>
    </div>

    <button class="btn" data-action="fullscreen#toggle" data-fullscreen-target="button">
      <%= image_tag "expand.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Enter fullscreen</span>
    </button>

    <%= render "reports/searches/search", report: @report %>
  <% end %>
<% end %>

<% content_for :toolbar do %>
  <div class="flex flex-column">
    <% if report.editable? %>
      <div class="page-toolbar fill-shade">
        <%= editing_mode_toggle_switch(@section, checked: false) %>
      </div>
    <% end %>

    <%= render "reports/searches/banner" %>
  </div>
<% end %>
