<% content_for(:title) { "Edit #{ @document.title }" } %>

<% content_for :header do %>
  <%= render "sectionables/edit_header", section: @section, report: @report %>
<% end %>

<% content_for :toolbar do %>
  <div class="page-toolbar fill-selected align-center gap-half margin-block-end-double">
    <%= editing_mode_toggle_switch(@section, checked: true) %>

    <span class="separator margin-inline-half" aria-hidden="true"></span>

    <button type="submit" form="sectionable-editor" class="btn flex page-toolbar__save flex-item-justify-end flex-item-no-shrink txt-small">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render "sections/sidebar", report: @report %>
<% end %>

<div class="page--document document-form margin-none">
  <%= render "documents/form", report: @report, document: @document %>
</div>

<%= render "sections/edit_footer", section: @section %>
